<!-- Here is the file where I will put the logo for the side bar with my 

  custom logo and all the links to the different pages.  -->
  <!-- container that holds entire view -->
<div class="navbar">
  <div class="col-md-4 logobox" id="logo">
    <!-- use default logo for now -->
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae.</p>
  </div>
  <div class="col-md-4 menubox" id="menu">
    <!-- unordered list for the menu -->
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae.</p>
  </div>
  <div class="col-md-4 iconbox" id="icons">
    <!-- social media icons -->
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae.</p>
  </div>
</div>