<div class="col-3" id="columnThree">
  <div class="col-12" id="stickySidebar">
    <div class="col-4 my-4 logobox" id="logos">
      <div class="card">
        <img src="images/logo.png" class="card-img-top">
      </div>
     
    </div>
    <div class="col-4 my-4 menubox" id="menu">
    <small> G e r r e n h // P e n a l o z a  </small> <br><br>
          
      <!-- unordered list for the menu -->
      <ul class= "nav navbar-nav"> 
        <li class="nav-item">
          <a href="/" class="nav-link"> Home </a>
          <a href="/about" class="nav-link"> About </a>
          <a href="/series" class="nav-link"> Series </a>
          <a href="/contact" class="nav-link"> Contact </a>
        </li>
      </ul>
    </div>
    <div class="col-4 iconbox" id="icons">
      <!-- social media icons -->
      <a href="https://www.instagram.com/residual.me/"> <i class="fa fa-instagram fa-2x"></i> </a>
      <a href="https://www.linkedin.com/in/gerren-penaloza-48b59164/"> <i class="fa fa-linkedin-square fa-2x"></i> </a>
      <a href="https://www.facebook.com/gerren.penaloza"> <i class="fa fa-facebook-square fa-2x"></i> </a>
    </div>
  </div>
</div>