<div class="col-3" id="columnThree">
  <div class="col-12" id="stickySidebar">
    <div class="col-4 my-4 logobox" id="logos">
      <!-- social media icons -->
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae.</p>
    </div>
    <div class="col-4 my-4 menubox" id="menu">
      <!-- unordered list for the menu -->
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae.</p>
    </div>
    <div class="col-4 iconbox" id="icons">
      <!-- social media icons -->
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae.</p>
    </div>
  </div>
</div>