<div class="col-9" id="body">
  <div class="col-12">
    <div class="card-columns no-gutter-card-deck">
      <div class="card">
        <img src="images/me.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
        <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
        <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
        <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
        <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
        <img src="images/me.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
        <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
        <img src="images/me.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
        <img src="images/me.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
        <img src="images/me.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
        <img src="images/me.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
        <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
        <img src="images/me.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
        <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
      </div>
      <div class="card">
          <img src="images/me.jpg" class="card-img-top" alt="cardImg">
        </div>
        <div class="card">
          <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
        </div>
        <div class="card">
          <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
        </div>
        <div class="card">
          <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
        </div>
        <div class="card">
          <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
        </div>
        <div class="card">
          <img src="images/me.jpg" class="card-img-top" alt="cardImg">
        </div>
        <div class="card">
          <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
        </div>
        <div class="card">
          <img src="images/me.jpg" class="card-img-top" alt="cardImg">
        </div>
        <div class="card">
          <img src="images/me.jpg" class="card-img-top" alt="cardImg">
        </div>
        <div class="card">
          <img src="images/me.jpg" class="card-img-top" alt="cardImg">
        </div>
        <div class="card">
          <img src="images/me.jpg" class="card-img-top" alt="cardImg">
        </div>
        <div class="card">
          <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
        </div>
        <div class="card">
          <img src="images/me.jpg" class="card-img-top" alt="cardImg">
        </div>
        <div class="card">
          <img src="images/houses.jpg" class="card-img-top" alt="cardImg">
        </div>
    </div>
  </div>
</div>