<div class="col-9" id="body">
  <div class="col-12">
    <div class="card-columns no-gutter-card-deck">
      <div class="card">
        <img src="images/1ghirardellisquare.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/35spicyadam.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/3multiexposurebridge.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/4sadnelms.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/5thinkingaustin.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/6flamingo.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/7haywardapartment.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/8b&wadam.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/9dalycityhouse.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/40spicyjulian.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/11treycupcakes.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/12nicehouses.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/25spicyjake.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/13maltby.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/15jazzyshred.jpg" class="card-img-top">
      </div>
      <div class="card">
        <img src="images/16sfmustang.jpg" class="card-img-top">
      </div>
    </div>
  </div>
</div>