body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.footer {
  background-color: yellowgreen;
}

.navbar {
  background-color: blueviolet; 
}

.logobox {
  background-color: red;
  max-width: 90%;
}

.menubox {
  background-color: peachpuff;
  max-width: 90%;
}

.iconbox {
  background-color: blue;
  max-width: 90%;
}

#stickySidebar {
  background-color: black;
  position: fixed;  
  max-width: 15%;
  height: 100%;
}

#columnFour {
  background-color: aquamarine;
  max-width: 18%;
}

#body {
  background-color: maroon;
}